<h1>All Guilds</h1>
<%= link_to t(:add_guild, :scope => "links" ), new_guild_path %>
<%= will_paginate %>
<ul class="guilds">
  <% @guilds.each do |guild| %>
    <%= render :partial => 'list_guild', :locals => { :guild => guild } %>
  <% end %>
</ul>
<%= will_paginate %>

