<h1><%= @title %></h1>
	<% if current_user %>
		<%= current_user.guilds.first && current_user.guilds.first.name %>
	<% end %>
	<div class="content">
		<p>This is the general home page, and is not linked to any guilds.</p>
		<p>General newsfeeds for the platform will be broadcast here.</p>
	</div>
