<h1><%= @title %></h1>
<%= render :partial => 'filters' %>

<% @search_results.each do |table, results| %>
  <% unless results.empty? %>
    <fieldset class="simplefieldset2">
      <legend>
        <%= t(table.to_s.downcase.to_sym, :scope => "globals") %>
      </legend>
      <div>
        <ul>
          <% results.each do |result| %>
            <li><%= link_to result.name, result %></li>
          <% end %>
        </ul>
      </div>
    </fieldset>
  <% end %>
<% end %>
