

#page {
	margin: 0px auto;
	min-width: 600px;
	min-height:600px;
	width: 100%;
}

#menubar ul {

	padding: 0px;

}

#menuline li{
  display: inline;
  margin: 0px;
  
  padding-left: 5px;
  padding-right: 5px;

  width:2px;
  height:90px;
  float:left;
  display:block;
  background-image:url(/images/design/linkline.png);
  }



/**********
 * Design	*
 **********

 **********
 * Header *
 **********/
	#designheader{
		position:absolute;
		width: 100%;
		top: 0px;
		left: 0px;
		min-width: 750px;
		min-height: 68px;
}

#textHeader ul{
		Z-index:6;
		position: absolute;
		padding-top:25px;
		padding-right: 20px;
		right: 90px;
		padding-left: 20px;
		width: 200px;
}

#textHeader ul li {
	display: inline;
}

#textHeader a, #textHeader a:link {
text-decoration: none;
color:#333333;
font-family:"Warnock Pro","Goudy Old Style","Palatino","Book Antiqua",Georgia,serif;
font-weight:bold;
text-shadow:1px 1px 1px #999999	
}

/*************************************************************************
 * All parts here are parts from 11 to 15 are parts of the design header *
 * Each div that is meant for one image slice is named designpartXY      *
 * where X stands for the row, and Y for the column                      *
 *************************************************************************/

	#designpart11 {
		Z-index: 3;
		position: absolute;
		left: 0px;
		top: 0px;
		width: 295px;
		height: 68px;
		background-image:url(../images/design/arx_11.gif); 
		layer-background-image:url(../images/design/arx_11.gif);
		background-repeat:no-repeat;
}
#designpart12 {
	Z-index:1;
	position: absolute;
	left: 295px;
	top: 0px;
	width: 50%;
	height: 68px;
	background-image:url(../images/design/arx_12.gif); 
	layer-background-image:url(../images/design/arx_12.gif);
	background-repeat:repeat-x;
}


#designpart13{
	Z-index: 3;
	position: absolute;
	left: 50%;
	height: 68px;
	min-height:68px;
	width: 169px;
	min-width: 169px;
	top: 0px;
	margin-left: -84px;
	background-image:url(../images/design/arx_13.gif); 
	layer-background-image:url(../images/design/arx_13.gif);
}

#designpart14{
	Z-index: 1;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 50%;
	height: 68px;
	background-image:url(../images/design/arx_14.gif); 
	layer-background-image:url(../images/design/arx_14.gif);
}

#designpart15 {
	Z-index:2;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 170px;
	height: 68px;
	background-image:url(../images/design/arx_15.gif); 
	layer-background-image:url(../images/design/arx_15.gif);
}

/*************
 * CommentBar *
 **************/
	#designCommentBar{
		Z-index: 7;
		position:absolute;
		top: 84px;
		left: 156px;
		min-width: 80px;
		max-width: 600px;
		min-height: 18px;
		max-height: 18px;

}
	#textComment{
		Z-index:6;
		position:relative;
		padding-right: 20px;
		padding-left: 20px;
		width: 100%;
}

#textComment li , #textComment span{
color:#333333;
font-family:"Warnock Pro","Goudy Old Style","Palatino","Book Antiqua",Georgia,serif;
font-weight:bold;
text-shadow:1px 1px 1px #999999	
}
#textComment p{
color:#AA0000;
font-family:"Warnock Pro","Goudy Old Style","Palatino","Book Antiqua",Georgia,serif;
font-weight:bold;
text-shadow:1px 1px 1px #999999	
}
#textComment p.auch{ 
color:#AA0000;
}
#textComment p.beech{ 
color:#FF9933;
}
#textComment p.yeuy{ 
color:#22FF33;
text-shadow:1px 1px 1px #333333
}

	#designpartCommentBarLeft {
		Z-index: 3;
		position: absolute;
		left: 0px;
		top: 0px;
		width: 22px;
		height: 18px;
		background-image:url(../images/design/arx_Lcomment.png); 
		layer-background-image:url(../images/design/arx_Lcomment.png);
		background-repeat:no-repeat;
}
#designpartCommentBarCenter {
	Z-index:1;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 18px;
	background-image:url(../images/design/arx_Ccomment.png); 
	layer-background-image:url(../images/design/arx_Ccomment.png);
	background-repeat:repeat-x;
}

	#designpartCommentBarRight {
		Z-index: 3;
		position: absolute;
		right: 0px;
		top: 0px;
		width: 23px;
		height: 18px;
		background-image:url(../images/design/arx_Rcomment.png); 
		layer-background-image:url(../images/design/arx_Rcomment.png);
		background-repeat:no-repeat;
}
/************
 * AdminBar *
 ************/
	#designAdminBar{
		Z-index:8;
		position:absolute;
		width: 100%;
		top: 0px;
		left: 0px;
		height: 15px;
		min-width: 750px;
}
#textAdminBar ul li{
	display: inline;
}
	#textAdminBar ul{
		Z-index:6;
		left: 124px;
		top:69px;
		height: 15px;
		position:absolute;
}
#textAdminBar a, #textAdminBar a:link {
	text-decoration: none;
	font-family:"Warnock Pro","Goudy Old Style","Palatino","Book Antiqua",Georgia,serif;
	font-weight:bold;
	color:#333333;
	text-shadow:1px 1px 1px #999999	
}
#textAdminBar a.active {
	color:#0000FF;
}


#textAdminBar li{
  margin: 0px;
	color:#333333;
	padding-left: 9px;
  padding-right: 9px;
/*  width:100%*/
  height:15px;
  float:left;
  display:block;
  background-image:url(/images/design/arx_linkline.png);
	background-position: 0px 2px;
	background-repeat:no-repeat; 
 }



/*************************************************************************
 * All parts here are parts from 2* to 2* are parts of the design header *
 * Each div that is meant for one image slice is named designpartXY      *
 * where X stands for the row, and Y for the column                      *
 *************************************************************************/
	#designpart21 {
		Z-index:2;	
		position: absolute;
		left: 0px;
		top: 68px;
		width: 70px;
		height: 19px;
		background-image:url(../images/design/arx_21.gif); 
		layer-background-image:url(../images/design/arx_21.gif);

} 
#designpart22  {
	Z-index:2;	
	position: absolute;
	left: 70px;
	top: 68px;
	width: 11px;
	height: 19px;
	background-image:url(../images/design/arx_22.gif); 
	layer-background-image:url(../images/design/arx_22.gif);

}
#designpart23 {
	Z-index:2;
	position: absolute;
	left: 81px;
	top: 68px;
	width: 83px;
	height: 19px;
	background-image:url(../images/design/arx_23.gif); 
	layer-background-image:url(../images/design/arx_23.gif);
}
#designpart24 {
	Z-index:1;
	position: absolute;
	left: 81px;
	right: 100px;
	top: 68px;
	height: 19px;
	background-image:url(../images/design/arx_24.gif); 
	layer-background-image:url(../images/design/arx_24.gif);
	background-repeat:repeat-x;
}
#designpart25 {
	Z-index:2;
	position: absolute;
	right: 101px;
	top: 68px;
	width: 31px;
	height: 19px;
	background-image:url(../images/design/arx_25.gif); 
	layer-background-image:url(../images/design/arx_25.gif);
}
#designpart26 {
	Z-index:1;
	position: absolute;
	right: 83px;
	top: 68px;
	width: 21px;
	height: 19px;
	background-image:url(../images/design/arx_26.gif); 
	layer-background-image:url(../images/design/arx_26.gif);
}
#designpart27 {
	Z-index:2;
	position: absolute;
	right: 76px;
	top: 68px;
	width: 7px;
	height: 19px;
	background-image:url(../images/design/arx_27.gif); 
	layer-background-image:url(../images/design/arx_27.gif);
}
#designpart28 {
	Z-index:2;
	position: absolute;
	right: 0px;
	top: 68px;
	width: 76px;
	height: 19px;
	background-image:url(../images/design/arx_28.gif); 
	layer-background-image:url(../images/design/arx_28.gif);
}
/*************************************************************************
 * All parts here are parts from 3* to 4* are parts of the body and links*
 * Each div that is meant for one image slice is named designpartXY      *
 * where X stands for the row, and Y for the column                      *
 *************************************************************************/
/***************
 * LeftCurtain *
 ***************/
	#designLeftCurtain{
		Z-index:5;
		position:absolute;
/*		width: 119px;*/
    width: 140px;
		min-height: 100px;
		max-height: 500px;
		top: 87px;
		left: 70px;
}
#textLeftCurtain li{
	display:block;
  width:100%;
	background-image:url(/images/design/arx_linkbottomline.png);
	background-position: 0px 14px;
	background-repeat: no-repeat;
}
#textLeftCurtain ul {
  margin-left: 2em!important
}

#textLeftCurtain {
  Z-index:6;
	position:relative;
	width: 92%;
	height: 80%;
	padding-top: 16px;
	padding-left: 4px;
}

#textLeftCurtain a, #textLeftCurtain a:link {
text-decoration: none;
color:#333333;
font-family:"Warnock Pro","Goudy Old Style","Palatino","Book Antiqua",Georgia,serif;
font-weight:bold;
text-shadow:1px 1px 1px #999999	
}

#textLeftCurtain a.active {
color:#0000FF;
text-shadow:1px 1px 1px #999999	
}
#designpart31 {
	Z-index:4;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 11px;
	height: 100%;
	background-image:url(../images/design/arx_31.gif); 
	layer-background-image:url(../images/design/arx_31.gif);
	background-repeat: repeat-y;
}
#designpart32 {
	Z-index:4;
	position: absolute;
	left: 11px;
	top: 0px;
/*	width: 100px;*/
  width: 121px;
	height: 100%;
	background-image:url(../images/design/arx_32.gif); 
	layer-background-image:url(../images/design/arx_32.gif);
	background-repeat: repeat;
}
#designpart33 {
	Z-index:4;
	position: absolute;
/*	left: 110px;*/
  left: 131px;
	top: 0px;
	width: 9px;
	height: 100%;
	background-image:url(../images/design/arx_33.gif); 
	layer-background-image:url(../images/design/arx_33.gif);
	background-repeat: repeat-y;
}


#designpart41 {
	Z-index:5;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 35px;
	height: 28px;
	background-image:url(../images/design/arx_41.gif); 
	layer-background-image:url(../images/design/arx_41.gif);
}

#designpart42 {
	Z-index:4;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 10px;
	background-image:url(../images/design/arx_42.gif); 
	layer-background-image:url(../images/design/arx_42.gif);
	background-repeat: repeat-x;
}

#designpart43 {
	Z-index:5;
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 29px;
	height: 22px;
	background-image:url(../images/design/arx_43.gif); 
	layer-background-image:url(../images/design/arx_43.gif);
}

/********
 * Body *
 ********/
	#designBody{
		min-width: 543px;
		Z-index:2;
		position:absolute;
		height: auto;
		min-height: 450px;
		top: 87px;
		left: 96px;
		right: 102px;
}
	#textBody{
		Z-index:5;
		position:relative;
/*		padding-left: 114px;
    padding-right: 114px;*/
 		padding-left: 135px;
    padding-right: 135px;
    padding-top: 30px;
		padding-bottom: 90px;
}

#designpart34 {
	Z-index:2;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 6px;
	height: 100%;
	background-image:url(../images/design/arx_34.gif); 
	layer-background-image:url(../images/design/arx_34.gif);
	background-repeat: repeat-y;
}
#designpart35 {
	Z-index:1;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-image:url(../images/design/arx_35.gif); 
	layer-background-image:url(../images/design/arx_35.gif);
	background-repeat: repeat;
}
#designpart36 {
	Z-index:2;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 9px;
	height: 100%;
	background-image:url(../images/design/arx_36.gif); 
	layer-background-image:url(../images/design/arx_36.gif);
	background-repeat: repeat-y;
}
/***************
 * RightCurtain *
 ***************/
#designRightCurtainContainer{
		position:absolute;
		width: 100%;
		min-width:750px;

}
#designRightCurtain{
		Z-index:5;
		position:absolute;
		min-height: 100px;
		max-height: 300px;
		top: 69px;
		right: 78px;
/*		min-width: 119px;
		max-width: 119px;
*/  width: 140px;
}

#textRightCurtain{
		Z-index:6;
		position:relative;
		padding-right: 14px;
		padding-left: 4px;
    padding-bottom: 0px;
		padding-top: 16px;
	  max-width: 105px;
		min-height: 5px;
		max-height: 250px;
/*		margin-bottom: 50px;*/
    overflow-x: hidden;
		overflow-y: auto;i
		width: 92%;
		height: 80%;
    margin-right: 0px!important;
}

/* copied from leftcurtain */
#textRightCurtain li{
	display:block;
  width:100%;
	background-image:url(/images/design/arx_linkbottomline.png);
	background-position: 0px 14px;
	background-repeat: no-repeat;
}

#textRightCurtain ul {
  margin-right: 0px!important;
}

#textRightCurtain h4 {
  margin-bottom: 0.5em;
  font-weight: bold;
  color: #333333;
  text-shadow: 1px 1px 1px #999999;
  font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
}

#textRightCurtain a, #textRightCurtain a:link {
  text-decoration: none;
  color:#333333;
  font-family:"Warnock Pro","Goudy Old Style","Palatino","Book Antiqua",Georgia,serif;
  font-weight:bold;
  text-shadow:1px 1px 1px #999999	
}

#textRightCurtain a.active {
  color:#0000FF;
  text-shadow:1px 1px 1px #999999	
}

#designpart37 {
	Z-index:4;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 11px;
	height: 100%;
	background-image:url(../images/design/arx_37.gif); 
	layer-background-image:url(../images/design/arx_37.gif);
	background-repeat: repeat-y;
}
#designpart38 {
	Z-index:3;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background-image:url(../images/design/arx_38.gif); 
	layer-background-image:url(../images/design/arx_38.gif);
	background-repeat: repeat;
}
#designpart39 {
	Z-index:4;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 5px;
	height: 100%;
	background-image:url(../images/design/arx_39.gif); 
	layer-background-image:url(../images/design/arx_39.gif);
	background-repeat: repeat-y;
}


#designpart44 {
	Z-index:5;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 35px;
	height: 28px;
	background-image:url(../images/design/arx_44.gif); 
	layer-background-image:url(../images/design/arx_44.gif);
}

#designpart45 {
	Z-index:4;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 22px;
	background-image:url(../images/design/arx_45.gif); 
	layer-background-image:url(../images/design/arx_45.gif);
	background-repeat: repeat-x;
}

#designpart46 {
	Z-index:5;
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 31px;
	height: 28px;
	background-image:url(../images/design/arx_46.gif); 
	layer-background-image:url(../images/design/arx_46.gif);
}

/***************
 * Footer *
 ***************/
	/*************************************************************************
 * All parts here are parts from 5* to 5*  are parts of the footer*
 * Each div that is meant for one image slice is named designpartXY      *
 * where X stands for the row, and Y for the column                      *
 *************************************************************************/
	#designFooter{
		Z-index:5;
		position:absolute;
		bottom: 0px;
	  height: 47px;
	width: 100%;
}
	#textFooter{
		Z-index:7;
		top: 5px;
		left: 50%;
		width: 200px;
    margin-left: -100px;
    text-align: center;
		position:relative;
		padding: 14px;
    padding-left: 0px;
}


#designpart51 {
	Z-index:6;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 300px;
	height: 47px;
	background-image:url(../images/design/arx_51.gif); 
	layer-background-image:url(../images/design/arx_51.gif);
}

#designpart52 {
	Z-index:5;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background-image:url(../images/design/arx_52.gif); 
	layer-background-image:url(../images/design/arx_52.gif);
	background-repeat: repeat;
}
#designpart53 {
	Z-index:6;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 276px;
	height: 47px;
	background-image:url(../images/design/arx_53.gif); 
	layer-background-image:url(../images/design/arx_53.gif);
}


/**************************
 * Message Related Design *
 **************************/

span.msgTag {
/*  background-color: #EAF0F0;*/
  background-color: #CF6;
  color: #002200;
  text-decoration: none;
  padding: 2px; 
}

a.messageLink {
  text-decoration: none;
  font-weight: bold;
}
a.messageLink:hover {
  text-decoration: underline;
}

#messagelisting td, th {
  padding-right: 4px!important;
}

#messagetags {
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

#messageshort {
  color: #999999;
  font-size: 80%;
}

span.msgTagView a {
  text-decoration: none;
  color: #000;
  padding: 2px;
  background-color: #CF6;
}

span.msgTagView a:hover {
  background-color: #C00;
}
