<h1><%= @title %></h1>
<p class="comment_text" ><%= link_to t(:new_price, :scope => "links" ), new_price_path %></p>
<div class="price_sets">

<% Printer.all.each do |printer| %>
  <% printer.price_sets.each do |price_set| %>
    <h3><%= printer.name %></h3>
    <table>
      <thead>
        <tr>
          <th>price_set</th>
          <th>option</th>
          <th>price</th>
        </tr>
      </thead>
      <tbody>
        <% price_set.prices.each do |price| %>
          <%= render price %>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
</div>
