<div class="printer">
  <h2><%= link_to printer.name, printer %></h2>
  <%= render :partial => "printer_body", :locals => {:printer => printer} %>

</div>
<%= render :partial => "shared/right_navigation", :locals => {:params_key => :none}%>