table.simpletable1{
	border-top: 1px;
	border: 0;
	padding: 0;
	margin: 0;
	margin-left: 5px;
	overflow: hidden;
	font-size: 13px;
	line-height: 8px;
}
table.simpletable1 tr{
	height: 4px;
}
table.simpletable1 col{
	font-size: 13px;
	height: 8px;
	width: 40px;
}
table.simpletable1 td{
	font: bolder;
}

