table.supply th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	border-left: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	line-height: 10px;
	padding: 6px 6px 6px 12px;
	background: rgb(218, 237, 255);
}

table.supply th.nobg {
 	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}


table.supply td {
	line-height: 10px;
	border-right: 1px solid #C1DAD7;
	border-left: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: rgb(218, 237, 255);	
}


table.supply td.alt {
	color: rgb(218, 237, 255);
}	
