
table.supply th {
	font:  12px Arial;
	text-align: left;
	line-height: 6px;
	padding: 6px 6px 6px 12px;
        font-weight: bold;
}

table.supply th.col1width {
	width: 70%;
        font-weight: bold;
}
table.supply th.col2width {
	width: 20px;
        font-weight: bold;
}
table.supply th.col3width {
	width: 10px;
        font-weight: bold;
}
table.supply th.col4width {
	width: 10px;
        font-weight: bold;
}

table.supply td {
	line-height: 10px;
	padding: 6px 6px 6px 12px;
	border-bottom: 1px solid #BBB;
	border-top: 1px solid #BBB;
}
table.supply td.alt{

	color: #DDD;	

}


