<% content_for :sidemenu do  %>
	<div class="topline"></div>
	<div id="sidemenu">
		<ul>
			<li> <%= link_to "Overview", print_jobs_path %> </li>
			<li> <%= link_to "Process", "#" %> </li> 
			<li> <%= link_to "Logs", logs_print_jobs_path %> </li>
		</ul>
	</div> 
	<div class="topline"></div>
<% end %>
