<% content_for :sidemenu do  %>
	<div class="topline"></div>
	<div id="sidemenu">
		<ul>
			<li> <%= link_to t(:overview, :scope => "links" ), print_jobs_path %> </li>
			<li> <%= link_to t(:process, :scope => "links" ), "#" %> </li> 
			<li> <%= link_to t(:logs, :scope => "links" ), logs_print_jobs_path %> </li>
		</ul>
	</div> 
	<div class="topline"></div>
<% end %>
