<div class='permissions'>
	<h2><%= t(:permissions,:scope => "globals") %></h2>
		<ul>
		<% user.permission_groups.each do | permission | %>
			<li><%= permission.name.gsub("_", " ") %></li>
		<% end %>
		</ul>
</div>
<% if current_user.can?("edit_permissions") %>
	<%= link_to t(:edit_permissions,:scope => "links"), "/users/" + user.id.to_s + "/edit_permissions" %> <!--TODO fix this with paths somehow-->
<% end %>
