<h1>All users</h1>
<%= will_paginate %>
<%= link_to "Add a new user", new_user_path %>
<ul class="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</ul>
<%= will_paginate %>


