<div class="price_set">
  <% if current_user.can? "view_price_sets" %>
  <h2><%= link_to price_set.name, price_set %></h2>
  <%= render :partial => "price_set_body", :locals => {:price_set => price_set} %>
  <% end %>

</div>

<%= render :partial => "shared/right_navigation", :locals => {:params_key => :printer_id}%>
