<% content_for :sidechat do  %>
<div id="bodyright">
          <p class="whitespace"> </p>
  <div class="chattopline"></div>
  <div class="topline"></div>
  <div id="sidenav">
    <ul>
      <% if params[params_key] && !params[params_key].empty? %>
        <% obj = (params_key.to_s[0..-4].camelize.constantize).find(params[params_key]) %>
        <li><%= link_to  obj.name, obj %></li>
      <% else %>

        <li> <%= link_to t(controller.controller_name.to_sym, :scope => "links"), "/#{controller.controller_name}", :class=>"sidemenu link2" %> </li>
      <% end %>
    </ul>
  </div>
  <div class="topline"></div> 
  </div>
<% end %>