<h1>All disciplines</h1>
<%= will_paginate %>
<%= link_to "Add a new discipline", new_discipline_path %>
<ul class="disciplines">
  <% @disciplines.each do |discipline| %>
    <%= render discipline %>
  <% end %>
</ul>
<%= will_paginate %>

