<div id="menubuttonarea"> <!-- Example of a buttommenu, see the menutop_template file for explanation -->
  <% @button_style = "button style1" %>
  <%= link_to content_tag(:span, 'HOME'), root_path, :class=>@button_style %>


  <% if signed_in? && current_user.can?("use_control_panel") %>
    <%= link_to content_tag(:span, 'CONTROL PANEL'), control_panel_path, :class=>@button_style %>
  <% end %>


  <!-- <a class="button style1" href="#" onclick="this.blur();"><span>HOME </span></a> 
  <a class="button style2" href="#" onclick="this.blur();"><span>EXAMPLE2</span></a> 
  <a class="button style3" href="#" onclick="this.blur();"><span>EXA</span></a>
  <a class="button style4" href="#" onclick="this.blur();"><span>TEST</span></a>
  End Example --> 
</div>