<div id="menu">
  <ul>
    
    <li><%= link_to "institutes", institutes_path, :id => navigation_selected("Institutes") %> </li>
    <li><%= link_to "faculties", faculties_path, :id => navigation_selected("Faculties") %> </li>
    <li><%= link_to "disciplines", disciplines_path, :id => navigation_selected("Disciplines") %> </li>

    
  </ul>
</div>