<!--
        <div id="bodyright">
          <p class="whitespace"> </p>
<div class="shoptopline"></div>
<div class="topline"></div>
<div id="sideshop">
  <ul>
    <li> <a class="sideshop odd" href="#" onclick="this.blur();">
					Cursus A - 4 euro 
      </a> </li>
    <li> <a class="sideshop even" href="#" onclick="this.blur();">
					Cursus B - 1 euro 
      </a> </li>
    <li> <a class="sideshop odd" href="#" onclick="this.blur();">
					Cursus C - 2 euro 				
      </a> </li>
    <li> <a class="sideshop even" href="#" onclick="this.blur();">
					Cursus D - 8 euro 			
      </a> </li>
  </ul>
</div>
<div class="topline"></div>
</div>
-->
<%= yield :sideshop %>
