<!-- <div class="chattopline"></div>
<div class="topline"></div>
<div id="sidechat">
  <ul>
    <li> <a class="sidechat reply delete" href="#" onclick="this.blur();">
        <p class="chatname"> Jan : </p>
        <p> We testen even of dit chatboard goed werkt. Op het eerste zicht lijkt het  goed te scalen.</p>
      </a> </li>
    <li> <a class="sidechat reply" href="#" onclick="this.blur();">
        <p class="chatname"> Piet : </p>
        <p> Jup, lijkt mij inderdaad ok.</p>
      </a> </li>
    <li> <a class="sidechat newmessage" href="#" onclick="this.blur();">
        <p class="chatname"> Joris : </p>
        <p> Maar blijft het ok? Ik kijk even in andere browsers want je weet maar nooit met CSS :(..</p>					
      </a> </li>
    <li> <a class="sidechat newmessage" href="#" onclick="this.blur();">
        <p class="chatname"> Korneel : </p>
        <p> Laat maar kheb het juist gechecked in Internet explorer, alst zelf daarin werkt.. :p </p>					
      </a> </li>
  </ul>
</div>
<div class="topline"></div> -->