<!--
<div class="shoptopline"></div>
<div class="topline"></div>
<div id="sidemenu">
  <ul>
    <li> <a class="sidemenu link1" href="#" onclick="this.blur();">Link1 </a> </li>
    <li> <a class="sidemenu generallink" href="#" onclick="this.blur();">Link2</a> </li>
    <li> <a class="sidemenu generallink" href="#" onclick="this.blur();">Link3</a> </li>
    <li> <a class="sidemenu generallink" href="#" onclick="this.blur();">Link4</a> </li>
  </ul>
</div> 
<div class="topline"></div>
-->

<%= yield :sidemenu %>
