/* standard p and a tags
-------------------------------------------------------------- */

p           { margin: 0 0 1.5em; }
p img.left  { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }

a:link,	    
a:focus,
a:visited,
a:hover     { color: #000; }
a           { color: #000; text-decoration: none; 
}

/* small comment_text (gray beneath title)
-------------------------------------------------------------- */
p.comment_text{
    color: #555;
    font: 75%/120% "Lucida Grande",Arial,"Lucida Sans Unicode",sans-serif;
    text-transform: uppercase;

}
p.comment_text a{
   color: #555
}
p.comment_text a{
   color: #555
}
p.comment_text a{
   color: #555
}

