/* standard p and a tags
-------------------------------------------------------------- */
body, h3, h4, h5, h6{
   font-family: Arial;
}
body{
   font-size: 12px;
   line-height: 1.58em;
}

a:link,	    
a:focus,
a:visited,
a:hover     { color: #000; }
a           { color: #000; text-decoration: none; 
}

/* Make sure the body is indented compared to titels */
.indentbody {
  margin-left: 2px;
}

                                        
/* small comment_text (gray beneath title)
-------------------------------------------------------------- */
p.comment_text{
    color: #555;
    font: 75%/120% "Lucida Grande",Arial,"Lucida Sans Unicode",sans-serif;
    text-transform: uppercase;
    text-align: right;
}
p.comment_text a{
   color: #555
}
p.comment_text a:hover {
   color: #595
}

