
fieldset.simplefieldset2 {
  margin-bottom: 10px;
  background: rgb(218, 237, 255);
  border: 1px solid rgb(210, 210, 210);
  border-radius: 5px;

}
fieldset.simplefieldset2 legend {
  font: 1.1em Verdana,Arial,sans-serif;
  background: rgb(208, 208, 208);
  border: 1px solid rgb(190, 190, 190);
  padding: 0 5px;
  height: 18px;
  color: #000;
  -moz-border-radius:5px;  
  border-radius: 5px;  
  -webkit-border-radius: 5px;
}


fieldset.simplefieldset2 legend span a{
  margin-left: 2px;
  color: #555;
  text-align: right center;
}

fieldset.simplefieldset2 label {
  display: inline-block;
  line-height: 1.8;
  vertical-align: top;
}

fieldset.simplefieldset2 a {
  color: #444;
}

fieldset.simplefieldset2 a:hover {
  color: #595;
}

fieldset.simplefieldset2 ul {
  color: #444;  
}

fieldset.simplefieldset2 table {
  color: #444;  
  border: 1px dotted rgb(200,220, 255);
  background: rgb(218, 237, 255);
}

fieldset.simplefieldset2 table td{
  background: rgb(226, 245, 255);
  border: 1px dotted rgb(200,220, 255);
}
