<fieldset class="simplefieldset2">
  <legend>
    Active Orders
  </legend>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Order key</th>
        <th>Status</th>
        <th>materials</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
    
      
      <% @orders.each do |order| %>

        <%= render order %>

      <% end %>
    </tbody>
  </table>
</fieldset>
