<%= content_for :sidemenu do %>
  <div class="topline"></div>
  <div id="sidemenu">
    <ul>
      <li> <%= link_to t(:OSD, :scope => "side_menu"), global_results_path, :class=>"sidemenu link2" %> </li>
      <li> <%= link_to t(:guild_details, :scope => "side_menu"), per_guild_results_path, :class=>"sidemenu link2" %> </li>
    </ul>
  </div>
  <div class="topline"></div>
<% end %>
