<% if errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(errors.count, "error") %>
      prohibited you from logging in:</h2>
    <p>There were problems with the following fields:</p>
    <ul>
      <% errors.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
