
p.chatname{
	text-decoration: none;
	color:#666;
	font-family:"Verdana";
	font-weight: bold;
	margin-left: 5px;
}

#sidechat p{
	text-decoration: none;
	color:#666;
	font-family:"Verdana";
	margin-bottom: 7px;
}
.chattopline {
	padding: 		0px 0px 0px 0px;
	margin: 		0px 0px 0px 0px;
	height: 		32px;
	width: 			164px;
	background: 	transparent url('images/sidechat/test_icon.png') top center no-repeat;	
	font-size: 		0px;
	position:		relative;
}
	

#sidechat {
	background: 			#FFF;
	width:					164px;
	padding: 				0;
	margin:					0;
	position:				relative;
}

#sidechat ul {
	list-style-type:		none;
	padding: 				0px 0px 0px 0px;
	margin: 				0px 0px 0px 0px;
	width:					1px;
	font: 					normal 10px verdana, sans-serif;
	font-weight: 			bold;
    text-decoration: 		none;
	background:				#FFF;
	
}



#sidechat li  a{

	margin-left: 			0px;
	padding-top: 			10px;
	padding-bottom: 		10px;
	display:				block; 
	width:					164px; 
	max-width:				150px;
	height:					auto; 
	padding-left: 			7px;
	padding-right: 			7px;
	border-top:				1px solid #DDD; 
	border-left:			1px solid #DDD; 
	border-right:			1px solid #DDD; 	
	text-align:				left; 
	font: 					normal 10px verdana, sans-serif;
    text-decoration: 		none;
	color:					#333;
}

















