
#sideshop {
	background: 			#FFF;
	width:					176px;
	padding: 				0;
	margin:					0;
	position:				relative;
}

#sideshop ul {
	list-style-type:		none;
	padding: 				0px 0px 0px 0px;
	margin: 				0px 0px 0px 0px;
	width:					1px;
	font: 					normal 10px verdana, sans-serif;
	font-weight: 			bold;
    text-decoration: 		none;
	background:				#FFF;
}
.shoptopline {
	padding: 		0px 0px 0px 0px;
	margin: 		0px 0px 0px 0px;
	height: 		32px;
	width: 			164px;
	background: 	transparent url('images/sideshop/cart_32.png') no-repeat center;
	font-size: 		0px;
	position:		relative;
}


.even{
	background-color:		#FFF; 
}
.even:hover{
	background: 			transparent url('images/sideshop/delete.png') center left no-repeat;	
}
.odd{
	background-color:		#EEE; 
}
.odd:hover{
	background: 			transparent url('images/sideshop/delete.png') center left no-repeat;	
}

#sideshop li  a{
	margin-left: 			0px;
	padding-top: 			10px;
	padding-bottom: 		10px;
	display:				block; 
	width:					164px; 
	max-width:				129px;
	height:					auto; 
	padding-left: 			25px;
	padding-right: 			10px;
	border-top:				1px solid #DDD; 
	border-left:			1px solid #DDD; 
	border-right:			1px solid #DDD; 	
	text-align:				left; 
	font: 					normal 10px verdana, sans-serif;
	font-weight: 			bold;
    text-decoration: 		none;
	color:					#333;
}

#sideshop ul a{
	
}

#sideshop li a:hover, #sideshop li a:focus{
	padding-top: 			10px;
	padding-bottom: 		10px;
	display:				block; 
	width:					164px; 
	max-width:				129px;
	height:					auto; 
	padding-left: 			25px;
	padding-right: 			10px;
	border-top:				1px solid #DDD; border-left:1px solid #DDD; border-right:1px solid #DDD; 	
	font: 					normal 10px verdana, sans-serif;
	font-weight: 			bold;
	color:					#333;
	
	
}





