<h1>All Materials</h1>
<%= link_to "Add a new material", new_material_path %>
<%= will_paginate %>
<ul class="materials">
  <% @materials.each do |material| %>
    <%= render :partial => "list_material", :locals => {:material => material} %>
  <% end %>
</ul>
<%= will_paginate %>

